html, body{
  height:100%;
}

body {
  font: 300 16px/22px "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #000;
}

h1 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

/* foundation overrides */
.menu.nested {
  margin: 0;
}

.menu>li:not(.menu-text)>a {
  padding: 9px;
  outline: 0;
}

.menu>li>a>i {
  padding: 0 6px 0 6px;
  margin: 1px 0 0 0;
}

.dropdown.menu .submenu {
  min-width:300px;
}

.dropdown.menu .is-dropdown-submenu-parent {
  padding: 0 0 0 50px;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow a {
  padding: 0;
  margin:0;
}

/* Caret in Dropdown Menu*/
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow>a::after {
  display:none;
  padding: 0;
  margin: 0;
}

/* Caret in header dropdown menu*/
.is-accordion-submenu-parent > a:after {
  display: none;
}


/* foundation overrides end*/

@media screen and (min-width: 40em) {
  .header-links {
    display:block;
  }
  .header-links-menu {
    display: none;
  }
}

@media screen and (max-width:64em) {
  .header-links {
    display:none;
  }
  .header-links-menu {
    display: block;
  }
}

.header-links {
  font-size: 18px;
  padding: 20px 0 0 0;
  text-transform: uppercase; 
}

.header-links a {  
  float: left;
  width:130px;
  text-align: right;
  padding-right: 7px;
  color: #fff;
  text-decoration: none;
  border-bottom: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: border 0.13s ease-out;
}

.header-links a:hover {.
  color: #fff; 
  border-bottom: 5px solid #1D1D1D;
}

.header-links-menu-pos {
  float: right;
}

.header-links-menu a {
  background: #fff;
  color: #030208;
  font-size: 18px;
  text-align: right;
  text-transform: uppercase;  
  padding:0;
  margin: 0;
  outline: 0;
  border: 1px solid #fff;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.menu-bars:hover {
  color: #fff;
  background-color: #000;
}

.menu-item {
  color: #030208;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.menu-item:hover {
  color: #fff;
  background-color: #000;
}

.container-header,
.container-footer {
  padding: 5px;
  height: 53px;
}

.container-header {
  position: fixed;
  width: 100%;
  margin-top: -53px;
  z-index: 60;
  border-bottom: 1px solid #fff;
  background: -webkit-linear-gradient(to bottom, #190D1C, #000);
  background: -moz-linear-gradient(to bottom, #190D1C, #000);
  background: linear-gradient(to bottom, #190D1C, #000);
}
.container-footer {
  border-top: 1px solid #fff;
}

.section-main {
  padding-top: 5%;
  height: 100%;
  text-align: center;
}

.section-title {
  font-size: 30px;
}

.title {
  font-weight: bold;
  letter-spacing:4px;
  padding-top: 30px;
}

/*
==================================
Logo
==================================
*/
.logo-pos {
  float: left;
}

.btn-logo-v2 {
  font-family: "Changa One";
  background: #fff;
  color: #030208;
  border: 1px solid #fff;
  font-size:28px;
  line-height: 1;
  text-transform: uppercase;  
  letter-spacing:-1.9px;
  padding: 6px 10px;
  margin: 0;
  outline: 0;
  cursor:default;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.btn-logo-v2:hover {
  background:#030208;
  color: #fff; 
}

.btn-logo-v2:focus {
  background:#fff;
  color: #030208; 
}


/*
foundation override end
*/
/*  min-height: 850px;

==================================
Viewport height for different screen sizes
==================================
*/

@media screen and (max-width:29.9999em) {
  .section-about,
  .section-skills  {
    min-height: 1000px;
  }

  .section-projects {
    min-height: 1350px;
  }

  .section-cv {
    min-height: 1550px; 
  }

  .section-contact {
      min-height: 200px;
  }
}

@media screen and (min-width:30em) {
  .section-about,
  .section-skills {
    min-height: 900px;
  }

  .section-projects {
    min-height: 1300px;
  }

  .section-cv {
    min-height: 1400px; 
  }

  .section-contact {
      min-height: 200px;
  }
}


/*
==================================
About section
==================================
*/
.section-about {
  margin-top: 53px;
  color: #F2F2F2;
  border-top: 1px solid #fff; 
  background: -webkit-linear-gradient(to bottom, #000, #190D1C);
  background: -moz-linear-gradient(to bottom, #000, #190D1C);
  background: linear-gradient(to bottom, #000, #190D1C);
}

.abIntro,
.abSummary {
  letter-spacing: 1px;
  line-height: 30px;  
}

.abIntro {
  margin-top: 22px;
  font-size: 16px;
  font-style: italic;
  background-color: #000;
  color: #F2F2F2;
}

.abSummary {
  margin-top: 40px;
  font-size: 19px;
}

.abSummary i {
  font-size: 5px;
}

.lead {
  padding:20px 0;
  font-size: 40px;
}

.lead-alt-text {
  font-family: 'Allura', cursive;
}

/*
==================================
Skills section
==================================
*/
.section-skills {
  color: #616161;
  background: -webkit-linear-gradient(to bottom, #D9D9D9, #fff);
  background: -moz-linear-gradient(to bottom, #D9D9D9, #fff);
  background: linear-gradient(to bottom, #D9D9D9, #fff);
}

.highlight {
  color: red;
}

.skills {
  font-size: 20px;
}

.skills i {
  font-size: 7px;
  padding: 0 10px;
}

.skills-info {
  padding-top: 20px;
  font-size: 20px;
}

/*
==================================
Projects section
==================================
*/
.section-projects {
  color: #616161;
  border-top:1px solid #E3E3E3;
  background: -webkit-linear-gradient(to bottom, #fff, #D9D9D9);
  background: -moz-linear-gradient(to bottom, #fff, #D9D9D9);
  background: linear-gradient(to bottom, #fff, #D9D9D9);
}

.projects {
  padding-top: 30px;
}

.project-title {
  background-color: #000;
  font-size: 20px;
  color: #fff;
}

.github-display {
  padding-top: 20px;
  font-size: 23px
}

.github-logo img {
  width: 70px;
  margin-top: 15px;
}

@media screen and (min-width: 40em) {
  
}

@media screen and (max-width: 64em) {
  .project {
    margin-top: 20px;
    width: 300px;
  }
}

.reveal {
  background-color: #000;
  border: 1px solid #fff;
  outline: 0;
}

.modal-description {
  padding-top: 20px;
  font-size: 18px;
}

.close-button {
  background-color: #000;
  line-height: 0;
  color: #fff;
  padding: 25px 25px 25px 8px;
  margin: -16px 0 0 0;
  right: 0;
  top: 0;
  outline: 0;
  font-size: 60px;
  width: 30px;
  height: 30px;
}

.close-button:hover {
  color:#fff;
}

.close-button:focus {
  color:#fff;
}

.projects li {
  display: inline-block;
}

.projects a {
  opacity: 0.3;
  -webkit-appearance: none;
  transition: opacity 0.25s ease-out;
}

/*Remove opacity for touch screens*/
[data-whatinput="touch"] .projects a {
  opacity: 1;
}

.projects a:hover {
  opacity: 1;
}

/*
==================================
CV section
==================================
*/
.section-cv {
  color: #fff;
  background-color: #171717;
  border-top: 1px solid #fff; 
}

.section-cv .subtitle {
  color: #D66D28;
}

.workexp li:not(.first) {
  padding-top: 15px;
}

.workexp,
.edu,
.cv-skills-l,
.cv-skills-r,
.linkToCoreSkills {
  font-size: 19px;
}


.cv-skills-l,
.cv-skills-r {
  display: inline-block;
  vertical-align: top;
}

.cv-skills-l {
  text-align: right;
  margin-right: 20px;
}
.cv-skills-r {
  text-align: left;
  margin-right: 54px;
}
/*
==================================
Contact section
==================================
*/
.section-contact {
  color: #616161;
  border-top: 1px solid #fff;
  background-color: #FAFAFA;
}

.contactDetails {
  margin-top: 10px;
  font-size: 18px;
}

.social {
  padding-top: 20px;
}

@media screen and (min-width: 40em) {
  .social-logo img {
    width: 80px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 64em) {
  .social-logo img {
    width: 60px;
    margin-left: 5px;
    margin-top: 5px;
  }
}

.social-logo:first-child img {
  margin-left: 0;
}